.model {
  color: $white-color;
  @include flexAlignment;
  flex-direction: column;
  h2 {
    margin-bottom: 50px;
  }

  &-container {
    position: relative;
    @include flexAlignment(space-between, center);

    .model-content {
      @include flexAlignment;
      flex-direction: column;
      gap: 35px;

      &-img {
        width: 600px;
      }
    }
  }

  &-tooltip {
    position: absolute;
    top: 75px;
    right: -180px;
    @include flexAlignment(center, start);

    &-text {
      margin-top: -12px;
      background: $gradient-color;
      padding: 4px 12px;
      border-radius: 64px;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }

    &:nth-child(3) {
      top: 170px;
      right: 195px;
    }

    &:nth-child(4) {
      top: 435px;
      right: -60px;
    }

    &:nth-child(5) {
      top: 440px;
      right: 560px;
      transform: scaleX(-1);
      span {
        transform: scaleX(-1);
      }
    }
  }
}
