.nav {
    padding: 50px 25px;
    @include flexAlignment(space-between, center);
    margin-inline: 24px;
    height: $header-height;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: $z-fixed;

    &-logo {
        h2 {
            color: $first-color;
            font-weight: $font-medium;
            cursor: pointer;
        }
    }

    &-page-links {

        ul {
            display: flex;
            gap: 60px;

            a {
                color: $white-color;
                font-weight: $font-medium;

                &:hover{
                    color: $first-color;
                }
            }
           
        }

    }

    &-menu {
        visibility: hidden;
    }

}

@include responsive($md-screen) {
    .nav{
        &-page-links{
            display: none;
        }

        &-menu {
            visibility: visible;
            cursor: pointer;
            color: $white-color;
            font-size: 30px;
        }
    }
  }