.sponsor {
  @include flexAlignment;

  &-container{
    @include flexAlignment;
    gap: 40px;
    img{
        width: 150px;
        cursor: pointer;

        &:nth-child(3){
            padding-top: 22px;
        }

        &:hover{
            transform: scale(1.15);
        }
    }
  }
}
